.deadline-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    gap: 0.5em;
    padding: 0.5em;
    padding-top: 0;

    &:hover {
        text-decoration: underline;
    }

    svg {
        fill: currentColor !important;
        height: 1em;
        width: 1em;
    }
}